body {
  font-family: "Montserrat", sans-serif;
  background: #202639;
}

h1 {
  color: #202639;
  font-size: 30px;
  font-weight: 250;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: #202639;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
}

.overview {
  margin-top: 20px;
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #202639;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-forecast {
  color: #202639;
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: #000;
  opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 13px;
  color: #000;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.name {
  color: white;
}
.btn {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
}
